.priority {
  position: relative;
  line-height: 28px;
  display: inline-block;
  min-width: 41px;
  z-index: 1;
}
.itemContent,
.itemDetails {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.itemContent {
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
}
.itemDetails {
  flex-direction: column;
  gap: var(--gap-10xs);
  text-align: left;
  font-size: var(--body-small-size);
  color: var(--primary-subtitle-color);
  font-family: var(--title-medium);
}
