@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --title-medium: Poppins;
  --subtitle-small: Roboto;
  --font-rubik: Rubik;

  /* font sizes */
  --subtitle-small-size: 14px;
  --body-very-small-size: 10px;
  --font-size-base: 16px;
  --body-small-size: 12px;
  --title-medium-size: 18px;
  --font-size-29xl: 48px;
  --font-size-19xl: 38px;
  --font-size-10xl: 29px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;

  /* Colors */
  --background-color: #fafafa;
  --just-white: #fff;
  --color-whitesmoke-100: #f1f1f1;
  --color-whitesmoke-200: #efefef;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e0e0e0;
  --color-silver: #c7c7c7;
  --main-color: #ff5151;
  --primary-subtitle-color: #686868;
  --color-dimgray-100: rgba(104, 104, 104, 0.5);
  --secondary-title-color: #303030;
  --color-crimson: #e63838;
  --color-linen: #ffefe7;
  --color-lavenderblush: #fdebf9;
  --color-orchid: #ee61cf;
  --color-black: #000;
  --color-darkgray: #b3b3b3;

  /* Gaps */
  --gap-3xl: 22px;
  --gap-3xs: 10px;
  --gap-11xl: 30px;
  --gap-xl: 20px;
  --gap-5xs: 8px;
  --gap-10xl: 29px;
  --gap-7xs: 6px;
  --gap-10xs: 3px;
  --gap-base: 16px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-9xs: 4px;
  --gap-mini: 15px;
  --gap-xs: 12px;
  --gap-44xl-3: 63.3px;
  --gap-7xl: 26px;
  --gap-5xl: 24px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-5xs: 8px;
  --padding-4xs: 9px;
  --padding-mini: 15px;
  --padding-3xl: 22px;
  --padding-lgi: 19px;
  --padding-12xs: 1px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-10xs: 3px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-2xs: 11px;
  --padding-mid: 17px;
  --padding-lg: 18px;
  --padding-mini-5: 14.5px;
  --padding-24xl: 43px;
  --padding-31xl: 50px;
  --padding-xs: 12px;
  --padding-37xl: 56px;
  --padding-7xs: 6px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-3xs: 10px;
  --br-7xs: 6px;
  --br-9xs: 4px;
}
